opencv-python-headless==4.8.0.76
Flask==2.3.3
numpy<2
scipy==1.11.3
waitress==2.1.2
# pybind11==2.11.1 (REMOVIDO - Era para o Dlib)
mediapipe==0.10.9

# (NOVO) Fixa as versões do Torch/Ultralytics
torch==2.1.2
torchvision==0.16.2
ultralytics==8.2.2