# Bibliotecas Leves (Aplicação e Testes)
# Estas podem mudar frequentemente (ex: adicionar 'paho-mqtt' aqui)
Flask==2.3.3
waitress==2.1.2

# Ferramentas de Qualidade e Teste
pytest==8.2.2
flake8==7.1.0
black==24.4.2